* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
}

.wrapper {
    height: 100vh;
    border: 1px solid yellowgreen;
    min-height: 920px;
    overflow: hidden;
}

.header {
    border: 1px solid magenta;
    position: fixed;
    /* height: 60px; */
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.header ul li {
    width: 200px;
    background-color: #393939;
}

.header ul li:first-child {
    border-bottom-left-radius: 5px;
}

.header ul li:last-child {
    border-bottom-right-radius: 5px;
}

.header ul li a {
    text-decoration: none;
    color: #c2c2c2;
    text-transform: uppercase;
    display: block;
    padding: 20px 0;
}

/* ---------------------------- CONTENT */

.content {
    border: 1px solid cornflowerblue;
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.side-bar {
    /* margin-top: -100px; */
    /* margin: 0 0 0 auto; */
    position: absolute;
    right: 0px;
    height: 200px;
    background-color: orange;
}

.content h1 {
    border: 1px solid green;
    /* text-align: center; */
}